<f:layout name="DFD" />
<f:section name="Main">

<f:render partial="Header/HeaderPrimary" />

<main>

    <article>

        <div class="mdlr-sections">

            <section class="mdlr-sections-segment" id="etymology">

                <f:for each="{mainContent}" as="contentElement">
                    <f:cObject typoscriptObjectPath="tt_content.{contentElement.data.CType}" data="{contentElement.data}" table="tt_content" />
                </f:for>

            </section>

        </div>

    </article>

</main>

</f:section>
