<header class="mdlr-headerbar mdlr-variant-secondary"><div>

    <h1>Müller</h1>
    <p>Name auf Rang 1 in Deutschland</p>

    <nav class="mdlr-headerbar-buttons">
        <h2>Aktionen</h2>
        <ul>
            <li>
                <button title="Zurück zur Übersicht" class="mdlr-function-back mdlr-variant-moreplain mdlr-variant-icon">
                    <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#regularBack" /></svg>
                </button>
            </li>
            <li>
                <button id="dialog-share-opener" title="Eintrag teilen" class="mdlr-function-modal mdlr-variant-moreplain mdlr-variant-icon" aria-controls="dialog-share">
                    <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#regularShare" /></svg>
                </button>
            </li>
        </ul>
    </nav>

<f:render partial="Navigation/MainNavigation" arguments="{_all}"/>

    <nav class="mdlr-jump">
        <h2>Zu Abschnitten springen</h2>
        <ul>
            <li><a href="#etymology" class="mdlr-function-jump" title="Abschnitt anzeigen">Etymologie</a></li>
            <li><a href="#background" class="mdlr-function-jump" title="Abschnitt anzeigen">Hintergrund</a></li>
            <li><a href="#sources" class="mdlr-function-jump" title="Abschnitt anzeigen">Quellen</a></li>
            <li><a href="#metadata" class="mdlr-function-jump" title="Abschnitt anzeigen">Metadaten</a></li>
        </ul>
    </nav>

</div></header>
