<aside class="mdlr-info" id="footnotes">
    <h2>Fußnoten</h2>
    <ol>
        <li id="info1">Mittelhochdeutsch bezeichnet eine ältere Sprachstufe des Deutschen (ca. 1050-1350). <span><a href="#info1anchor">Zurück zum Haupttext</a></span></li>
        <li id="info2">Mittelniederdeutsch bezeichnet eine ältere Sprachstufe des Niederdeutschen (ca. 13.-16. Jahrhundert). <span><a href="#info2anchor">Zurück zum Haupttext</a></span></li>
        <li id="info3">Das Niederdeutsche (auch „Plattdeutsch“) umfasst die im Norden Deutschlands gesprochenen Dialekte, für die die ausgebliebene Zweite (oder Hochdeutsche) Lautverschiebung kennzeichnend ist (vgl. niederdeutsch <em>Water</em> vs. hochdeutsch <em>Wasser</em>). <span><a href="#info3anchor">Zurück zum Haupttext</a></span></li>
        <li id="info4">Anpassung niederdeutscher Formen an das Hochdeutsche, z.B. in der Lautung durch Einführung der zweiten Lautverschiebung (z.B. <em>k>ch</em> in <em>Kock</em> > <em>Koch</em>, <em>p</em> > <em>pf</em>, <em>ff</em> in <em>Pape</em> > <em>Pfaffe</em>); teilweise auch falsche (hyperkorrekte) Verhochdeutschung in Fällen wie <em>-kamp</em> 'Feld' > <em>-kampf</em> (<em>Haverkampf</em>, <em>Steinkampf</em>). <span><a href="#info4anchor">Zurück zum Haupttext</a></span></li>
        <li id="info5">Datenquelle: anonymisierte Telefonanschlussdaten lizensiert von der Deutschen Telekom für wissenschaftliche Zwecke. <span><a href="#info5anchor">Zurück zum Haupttext</a></span></li>
        <li id="info6">Datenquelle: <a href='https://interaktiv.tagesanzeiger.ch/newsnetz/namenkarte' target='_blank'>Namenkarte des Schweizer Tagesanzeiger</a>, abgerufen am 16. Juli 2021. <span><a href="#info6anchor">Zurück zum Haupttext</a></span></li>
        <li id="info7">Datenquelle: CD-ROM „Geogen Austria“. <span><a href="#info7anchor">Zurück zum Haupttext</a></span></li>
        <li id="info8">Datenquelle: <a href='https://www.kdejsme.cz/prijmeni/M%C3%BCller/hustota' target='_blank'>Kde Jsme</a>, abgerufen am 21. Februar 2019. <span><a href="#info8anchor">Zurück zum Haupttext</a></span></li>
        <li id="info9">Datenquelle: <a href='https://www.familienaam.be' target='_blank'>Familienaam.be</a>, abgerufen am 12. Juni 2012. <span><a href="#info9anchor">Zurück zum Haupttext</a></span></li>
        <li id="info10">Datenquelle: <a href='http://danskernesnavne.navneforskning.ku.dk' target='_blank'>Danskernes Navne</a>, abgerufen am 12. Juni 2012. <span><a href="#info10anchor">Zurück zum Haupttext</a></span></li>
        <li id="info11">Datenquelle: <a href='https://www.cbgfamilienamen.nl/nfb' target='_blank'>Nederlandse Familienamenbank</a>, abgerufen am 12. Juni 2012. <span><a href="#info11anchor">Zurück zum Haupttext</a></span></li>
    </ol>
</aside>

<aside class="mdlr-infobar" id="install" hidden>
    <p><span>Das Wörterbuch auch unterwegs immer griffbereit!</span> <button id="install-button" class="mdlr-variant-plain"><abbr title="Digitales Familiennamenwörterbuch Deutschlands">DFD</abbr> als App</button></p>
</aside>

<footer class="mdlr-footer" id="footer">
    <h2>Metainformationen</h2>
    <div>
        <a href="index.htm" class="mdlr-footer-logo"><span>Digitales Familiennamenwörterbuch Deutschlands</span></a>
        <nav class="mdlr-footer-meta">
            <h3>Service</h3>
            <ul>
                <li><a href="article.htm">Kontakt</a></li>
                <li><a href="article.htm">Datenschutz</a></li>
                <li><a href="article.htm">Impressum</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <div class="mdlr-footer-corporate">
            <h3>Anbieter</h3>
            <ul>
                <li><a href="https://www.adwmainz.de" target="_blank">Ein Projekt der Akademie der Wissenschaften und der Literatur Mainz</a></li>
                <li><a href="https://www.tu-darmstadt.de" target="_blank" title="In Kooperation mit der Technischen Universität Darmstadt"><span>In Kooperation mit der Technischen Universität Darmstadt</span></a></li>
                <li><a href="https://www.uni-mainz.de" target="_blank" title="In Kooperation mit der Johannes Gutenberg-Universität Mainz"><span>In Kooperation mit der Johannes Gutenberg-Universität Mainz</span></a></li>
            </ul>
        </div>
        <nav class="mdlr-footer-social">
            <h3>Social Links</h3>
            <ul>
                <li>
                    <a href="https://twitter.com/DFDmainz" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-plain" title="DFD auf Twitter">
                        <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialTwitter" /></svg>
                    </a>
                </li>
                <li>
                    <a href="https://gitlab.rlp.net/adwmainz/digicademy/dfd" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-plain" title="Git-Repository des DFD">
                        <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialGitlab" /></svg>
                    </a>
                </li>
                <li>
                    <a href="index.htm" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-plain" title="RSS-Feed aktueller Meldungen des DFD">
                        <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialFeed" /></svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="mdlr-button mdlr-variant-icon mdlr-variant-plain mdlr-function-up" title="Zum Seitenanfang">
                        <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#regularUp" /></svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>

<aside class="mdlr-modal" id="dialog-map" role="dialog" aria-modal="true" aria-labelledby="dialog-map-opener" hidden><div>

    <h2>
        <span>Verbreitung</span>
        <span><button title="Dialog schließen" class="mdlr-function-modal-close mdlr-variant-moreplain mdlr-variant-icon">
            <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#regularClose" /></svg>
        </button></span>
    </h2>

    <section class="mdlr-map" id="dialog-map-map">
        <h3>Landkarte</h3>
        <div class="mdlr-map-leaflet" id="distribution-map-leaflet-modal">
            <span class="mdlr-map-leaflet-alt">Die Grafik zeigt eine Deutschlandkarte</span>
        </div>
    </section>

</div></aside>

<aside class="mdlr-modal" id="dialog-share" role="dialog" aria-modal="true" aria-labelledby="dialog-share-opener" aria-controlledby="" hidden><div>

    <h2>
        <span>Eintrag teilen</span>
        <span><button title="Dialog schließen" class="mdlr-function-modal-close mdlr-variant-moreplain mdlr-variant-icon">
            <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#regularClose" /></svg>
        </button></span>
    </h2>

    <section class="mdlr-buttonstack" id="dialog-share-local">
        <h3>Auf diesem Gerät</h3>
        <ul>
            <li><button class="mdlr-function-copy" data-target="https://www.namenforschung.net/id/name/1/1">Link kopieren</button></li>
            <li><a href="mailto:?&subject=Müller im DFD&body=Eintrag zum Namen Müller im Digitalen Familiennamenwörterbuch Deutschlands:%0d%0a%0d%0ahttps://namenforschung.net/id/name/1/1" target="_blank" class="mdlr-button">Per Mail senden</a></li>
            <li><a href="article.htm" class="mdlr-button" download="DFD - Müller.pdf">Als <abbr title="Portable Document Format">PDF</abbr> herunterladen</a></li>
        </ul>
    </section>

    <section class="mdlr-buttongrid" id="dialog-share-social">
        <h3>Andere Dienste</h3>
        <button class="mdlr-function-share" data-title="Eintrag zum Namen Müller im Digitalen Familiennamenwörterbuch Deutschlands" data-target="https://namenforschung.net/id/name/1/1">Auf diesem Gerät teilen</button>
        <ul>
            <li><!--Twitter-->
                <a style="color: #1d9bf0;" href="https://twitter.com/share?url=https://namenforschung.net/id/name/1/1&text=Eintrag%20zum%20Namen%20Müller%20im%20Digitalen%20Familiennamenwörterbuch%20Deutschlands" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-moreplain" title="Auf Twitter teilen">
                    <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialTwitter" /></svg>
                </a>
            </li>
            <li><!--Facebook-->
                <a style="color: #1877f2;" href="https://www.facebook.com/sharer.php?u=https://namenforschung.net/id/name/1/1&title=Eintrag%20zum%20Namen%20Müller%20im%20Digitalen%20Familiennamenwörterbuch%20Deutschlands" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-moreplain" title="Auf Facebook teilen">
                    <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialFacebook" /></svg>
                </a>
            </li>
            <li><!--Telegram-->
                <a style="color: #0088cc;" href="https://t.me/share/url?url=https://namenforschung.net/id/name/1/1&text=Eintrag%20zum%20Namen%20Müller%20im%20Digitalen%20Familiennamenwörterbuch%20Deutschlands" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-moreplain" title="Per Telegram teilen">
                    <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialTelegram" /></svg>
                </a>
            </li>
            <li><!--WhatsApp-->
                <a style="color: #2ab200;" href="https://api.whatsapp.com/send?text=Eintrag%20zum%20Namen%20Müller%20im%20Digitalen%20Familiennamenwörterbuch%20Deutschlands%20https://namenforschung.net/id/name/1/1" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-moreplain" title="Per WhatsApp teilen">
                    <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialWhatsapp" /></svg>
                </a>
            </li>
            <li><!--Pinterest-->
                <a style="color: #e60023;" href="https://pinterest.com/pin/create/bookmarklet/?url=https://namenforschung.net/id/name/1/1&description=Eintrag%20zum%20Namen%20Müller%20im%20Digitalen%20Familiennamenwörterbuch%20Deutschlands" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-moreplain" title="Auf Pinterest hinzufügen">
                    <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialPinterest" /></svg>
                </a>
            </li>
            <li><!--Pocket-->
                <a style="color: #ef4056;" href="https://getpocket.com/save?url=https://namenforschung.net/id/name/1/1&title=Eintrag%20zum%20Namen%20Müller%20im%20Digitalen%20Familiennamenwörterbuch%20Deutschlands" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-moreplain" title="Auf Pocket merken">
                    <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialPocket" /></svg>
                </a>
            </li>
            <li><!--Reddit-->
                <a style="color: #ff4500;" href="https://reddit.com/submit?url=https://namenforschung.net/id/name/1/1&title=Eintrag%20zum%20Namen%20Müller%20im%20Digitalen%20Familiennamenwörterbuch%20Deutschlands" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-moreplain" title="Auf Reddit teilen">
                    <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialReddit" /></svg>
                </a>
            </li>
            <li><!--LinkedIn-->
                <a style="color: #0077b5;" href="https://www.linkedin.com/shareArticle?url=https://namenforschung.net/id/name/1/1&title=Eintrag%20zum%20Namen%20Müller%20im%20Digitalen%20Familiennamenwörterbuch%20Deutschlands" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-moreplain" title="Auf LinkedIn teilen">
                    <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialLinkedin" /></svg>
                </a>
            </li>
        </ul>
        <p>Dienste von Drittanbietern werden erst beim Klick aufgerufen. Auf den verlinkten Seiten gelten deren Hinweise zum Schutz der Privatsphäre.</p>
    </section>

</div></aside>

<aside class="mdlr-toasts" aria-hidden="true" hidden>
    <h2>Dynamische Hinweise</h2>
    <ul>
        <li class="mdlr-function-toast" id="notification" role="status">
            <span></span>
            <span><button title="Hinweis ausblenden" class="mdlr-function-toast-close mdlr-variant-moreplain mdlr-variant-icon">
                <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#regularClose" /></svg>
            </button></span>
        </li>
    </ul>
</aside>
