<aside class="mdlr-info" id="footnotes">
    <h2>Fußnoten</h2>
    <ol>
        <li id="info1">Rang nach Vorkommen in Deutschland. <span><a href="#info1anchor">Zurück zum Haupttext</a></span></li>
        <li id="info2">Menge der Telefonanschlüsse in Deutschland im Jahr 2005. <span><a href="#info2anchor">Zurück zum Haupttext</a></span></li>
        <li id="info3">Gelistet nach der Menge der Seitenaufrufe in den letzten 30 Tagen. <span><a href="#info3anchor">Zurück zum Haupttext</a></span></li>
        <li id="info4">Menge der Telefonanschlüsse in Deutschland im Jahr 2005. <span><a href="#info4anchor">Zurück zum Haupttext</a></span></li>
        <li id="info5">Rang nach Vorkommen in Deutschland. <span><a href="#info5anchor">Zurück zum Haupttext</a></span></li>
        <li id="info6">Menge der Telefonanschlüsse in Deutschland im Jahr 2005. <span><a href="#info6anchor">Zurück zum Haupttext</a></span></li>
    </ol>
</aside>

<aside class="mdlr-infobar" id="install" hidden>
    <p><span>Das Wörterbuch auch unterwegs immer griffbereit!</span> <button id="install-button" class="mdlr-variant-plain"><abbr title="Digitales Familiennamenwörterbuch Deutschlands">DFD</abbr> als App</button></p>
</aside>

<footer class="mdlr-footer" id="footer">
    <h2>Metainformationen</h2>
    <div>
        <a href="index.htm" class="mdlr-footer-logo" title="Zur Startseite"><span>Digitales Familiennamenwörterbuch Deutschlands</span></a>
        <nav class="mdlr-footer-meta">
            <h3>Service</h3>
            <ul>
                <li><a href="article.htm">Kontakt</a></li>
                <li><a href="article.htm">Datenschutz</a></li>
                <li><a href="article.htm">Impressum</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <div class="mdlr-footer-corporate">
            <h3>Anbieter</h3>
            <ul>
                <li><a href="https://www.adwmainz.de" target="_blank">Ein Projekt der Akademie der Wissenschaften und der Literatur Mainz</a></li>
                <li><a href="https://www.tu-darmstadt.de" target="_blank" title="In Kooperation mit der Technischen Universität Darmstadt"><span>In Kooperation mit der Technischen Universität Darmstadt</span></a></li>
                <li><a href="https://www.uni-mainz.de" target="_blank" title="In Kooperation mit der Johannes Gutenberg-Universität Mainz"><span>In Kooperation mit der Johannes Gutenberg-Universität Mainz</span></a></li>
            </ul>
        </div>
        <nav class="mdlr-footer-social">
            <h3>Social Links</h3>
            <ul>
                <li>
                    <a href="https://twitter.com/DFDmainz" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-plain" title="DFD auf Twitter">
                        <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialTwitter" /></svg>
                    </a>
                </li>
                <li>
                    <a href="https://gitlab.rlp.net/adwmainz/digicademy/dfd" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-plain" title="Git-Repository des DFD">
                        <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialGitlab" /></svg>
                    </a>
                </li>
                <li>
                    <a href="index.htm" target="_blank" class="mdlr-button mdlr-variant-icon mdlr-variant-plain" title="RSS-Feed aktueller Meldungen des DFD">
                        <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#socialFeed" /></svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="mdlr-button mdlr-variant-icon mdlr-variant-plain mdlr-function-up" title="Zum Seitenanfang">
                        <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#regularUp" /></svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>

<aside class="mdlr-modal" id="dialog-settings" role="dialog" aria-modal="true" aria-labelledby="dialog-settings-opener" hidden><div>

    <h2>
        <span>Einstellungen</span>
        <span><button title="Dialog schließen" class="mdlr-function-modal-close mdlr-variant-moreplain mdlr-variant-icon">
            <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#regularClose" /></svg>
        </button></span>
    </h2>

    <section class="mdlr-form" id="dialog-settings-main">
        <h3>Auf diesem Gerät</h3>
        <form id="settings">
            <fieldset class="mdlr-form-switch">
                <input name="language" class="mdlr-function-switch" id="dialog-settings-main-language" type="checkbox" checked title="Schalter betätigen" data-target="dialog-settings-main-language-request">
                <label for="dialog-settings-main-language">Sprache möglichst an Gerät anpassen</label>
            </fieldset>
            <fieldset class="mdlr-form-radio" id="dialog-settings-main-language-request">
                <div>
                    <input name="language-request" class="mdlr-function-switch-radio" id="dialog-settings-main-language-request-de" disabled checked value="de" type="radio" title="Option aktivieren">
                    <label for="dialog-settings-main-language-request-de">Deutsch</label>
                </div>
                <div>
                    <input name="language-request" class="mdlr-function-switch-radio" id="dialog-settings-main-language-request-en" disabled value="en" type="radio" title="Option aktivieren">
                    <label for="dialog-settings-main-language-request-en">Englisch</label>
                </div>
            </fieldset>
            <fieldset class="mdlr-form-switch">
                <input name="theme" class="mdlr-function-switch" id="dialog-settings-main-theme" type="checkbox" checked title="Schalter betätigen" data-target="dialog-settings-main-theme-request">
                <label for="dialog-settings-main-theme">Farbthema möglichst an Gerät anpassen</label>
            </fieldset>
            <fieldset class="mdlr-form-radio" id="dialog-settings-main-theme-request">
                <div>
                    <input name="theme-request" class="mdlr-function-switch-radio" id="dialog-settings-main-theme-request-light" disabled checked value="light" type="radio" title="Option aktivieren">
                    <label for="dialog-settings-main-theme-request-light">Hell</label>
                </div>
                <div>
                    <input name="theme-request" class="mdlr-function-switch-radio" id="dialog-settings-main-theme-request-dark" disabled value="dark" type="radio" title="Option aktivieren">
                    <label for="dialog-settings-main-theme-request-dark">Dunkel</label>
                </div>
            </fieldset>
        </form>
    </section>

    <section class="mdlr-buttonstack" id="dialog-settings-cookie">
        <h3>Privatsphäre</h3>
        <p>Beim Ändern einer Standardeinstellung hinterlegt diese Webseite ein 30 Tage gültiges Cookie in Ihrem Browser. Es wird nicht zur Nachverfolgung genutzt.</p>
        <ul class="mdlr-variant-invisible" hidden>
            <li><button class="mdlr-function-switch-reset" title="Einstellungen zurücksetzen und Cookie löschen">Cookie löschen</button></li>
        </ul>
    </section>

</div></aside>

<aside class="mdlr-toasts" aria-hidden="true" hidden>
    <h2>Dynamische Hinweise</h2>
    <ul>
        <li class="mdlr-function-toast" id="notification" role="status">
            <span></span>
            <span><button title="Hinweis ausblenden" class="mdlr-function-toast-close mdlr-variant-moreplain mdlr-variant-icon">
                <svg width="26" height="26" version="1.1" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#regularClose" /></svg>
            </button></span>
        </li>
    </ul>
</aside>
